body {
    background-image: url("../images/tech_brain.png");
    color: rgb(231, 119, 14);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Share Tech', sans-serif;
    margin-bottom: 35px;
}

h3 {

}

#wins {
    
}

#losses {

}

#guessLeft {

}

#guessesSoFar {

}



