body {
    background-image: url("../images/braintechie.jpg");
    color: rgb(255, 60, 0);
}

#title {
    font-family: 'Share Tech', sans-serif;
    font-size: 59px;
    margin-left: 10px;
}

#psychic {
    margin-left: 10px;
    font-family: 'Share Tech', sans-serif;
    font-size: 27px;
    margin-top: 130px;

}


