body {
    background-image: url("../images/braintechie.jpg");
    color: rgb(231, 119, 14);
    /* color: rgb(27, 201, 27); */
}

#title {
    font-family: 'Share Tech', sans-serif;
    font-size: 59px;
    margin-left: 10px;
}

#psychic {
    margin-left: 10px;
    font-family: 'Share Tech', sans-serif;
    font-size: 27px;
    margin-top: 130px;

}


